// Put here any Compass configuration, variables, mixins & functions


// The default font family.
$base-font-family: Helvetica, Verdana, Arial, sans-serif;
// Set this to true to add support for IE 6.
$legacy-support-for-ie6: true; // Override default set in Compass' Support partial.
// Set this to true to add support for IE 7.
$legacy-support-for-ie7: true; // Override default set in Compass' Support partial.